<nz-layout class="app-layout">
  <!-- Sider Menu-->
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <h1><span id="logo" class="icon-ice-cream-1"></span>{{ title }}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li nz-submenu nzTitle="Ice-cream">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/"><span class="icon-ice-cream-4"></span>Cone</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/"><span class="icon-ice-cream-13"></span>Stick</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/"><span class="icon-ice-cream-1"></span>Scoop</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/"><span class="icon-ice-cream-21"></span>Soft Serve</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/"><span class="icon-ice-cream-10"></span>Bar</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
        <i nz-icon nzType="setting"></i>
        <span>Settings</span>
      </li>
    </ul>
  </nz-sider>
  <!-- Layout -->
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
