@font-face {
  font-family: 'ice-cream';
  src: url('~src/assets/icons/ice-cream.eot?ahf7c');
  src: url('~src/assets/icons/ice-cream.eot?ahf7c#iefix') format('embedded-opentype'),
    url('~src/assets/icons/ice-cream.ttf?ahf7c') format('truetype'),
    url('~src/assets/icons/ice-cream.woff?ahf7c') format('woff'),
    url('~src/assets/icons/ice-cream.svg?ahf7c#ice-cream') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ice-cream' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ice-cream-1:before {
  content: '\e900';
}

.icon-ice-cream:before {
  content: '\e901';
}
.icon-ice-cream-3:before {
  content: '\e902';
}
.icon-ice-cream-4:before {
  content: '\e903';
}
.icon-ice-cream-5:before {
  content: '\e904';
}
.icon-ice-cream-6:before {
  content: '\e905';
}
.icon-ice-cream-7:before {
  content: '\e906';
}
.icon-ice-cream-8:before {
  content: '\e907';
}
.icon-ice-cream-9:before {
  content: '\e908';
}
.icon-ice-cream-10:before {
  content: '\e909';
}
.icon-ice-cream-11:before {
  content: '\e90a';
}
.icon-ice-cream-12:before {
  content: '\e90b';
}
.icon-ice-cream-13:before {
  content: '\e90c';
}
.icon-ice-cream1:before {
  content: '\e90d';
}
.icon-ice-cream-15:before {
  content: '\e90e';
}
.icon-ice-cream-16:before {
  content: '\e90f';
}
.icon-ice-cream-17:before {
  content: '\e910';
}
.icon-ice-cream-18:before {
  content: '\e911';
}
.icon-ice-cream-19:before {
  content: '\e912';
}
.icon-ice-cream-20:before {
  content: '\e913';
}
.icon-ice-cream-21:before {
  content: '\e914';
}
.icon-ice-cream-22:before {
  content: '\e915';
}
.icon-ice-cream-23:before {
  content: '\e916';
}
.icon-ice-cream-24:before {
  content: '\e917';
}
.icon-ice-cream-25:before {
  content: '\e918';
}
.icon-ice-cream-26:before {
  content: '\e919';
}
.icon-ice-cream-27:before {
  content: '\e91a';
}
.icon-ice-cream-28:before {
  content: '\e91b';
}
.icon-ice-cream-29:before {
  content: '\e91c';
}
.icon-ice-cream-30:before {
  content: '\e91d';
}
.icon-ice-cream-31:before {
  content: '\e91e';
}
.icon-ice-cream-32:before {
  content: '\e91f';
}
